@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --colorNegro: #000000;
    --colorBlanco: #f6f6f6;
    --colorPastel: #F6A278;
    --colorAzul: #0193A5;
    --colorHoverBoton: #272727;

    --fuenteKrona: "Krona One", sans-serif;
    --fuenteMontserrat: "Montserrat", sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--colorNegro);
    color: var(--colorBlanco);
    box-sizing: border-box;
}

.header{
    display: flex;
    gap: 20%;
    padding: 5%;
}

.logo{
    width: 100px;
    height: 100px;
}

.presentacion__contenido__titulo{
    font-size: 2.25rem;
    font-family: var(--fuenteKrona);
    padding-bottom: 5%;
}

.destaque__de__titulo{
    color: var(--colorAzul);
}

.juego{
    padding: 5%;
    display: flex;
    flex-direction: row;
}

.juego__explicacion{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.presentacion__contenido__parrafo{
    font-size: 1.5rem;
    font-family: var(--fuenteMontserrat);
    padding-bottom: 5%;
}

.container{
    width: 50%;
}

.container__contenido{
    display: flex;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
}

.container__informaciones {
    flex: 1;
    padding: 3rem;
}

.container__boton {
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
}

.container__boton:disabled {
    background: #898989;
}

.container__texto {
    margin: 16px 0 16px 0;
}

.container__texto-azul {
    color: #1875E8;
}

.container__input {
    width: 87%;
    height: 72px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #1875E8;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.container__botones {
    display: flex;
    gap: 2em;
}

.footer{
    background-color: var(--colorPastel);
    padding: 23.64px;
    color: var(--colorNegro);
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fuenteMontserrat);
    font-weight: 400;
}

@media (max-width: 1200px){
    .header{
        padding: 5%;
        flex-direction: column;
        align-items: center;
    }

    .juego{
        align-items: center;
        flex-direction: column;
        padding: 5%;
        width: 90%;
    }

    .juego__explicacion{
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .presentacion__contenido__titulo{
        width: 100%;
        text-align: center;
    }

    .container{
        width: 100%;
    }
}